%form{:action => "/"}
  %table
    %tr
      %th Cell
      %th Name
      %th Val
      %th Deps
      %th Formula

    - @sheet.each_input do |cell,name,val|
      %tr
        %td= cell
        %td= name
        %td
          %input{:type => "text", :name => "input[#{cell}]", :value => val}
    
    %tr
      %td _

    - @sheet.each_output do |cell,name,val,deps,formula|
      %tr
        %td= cell
        %td= name
        %td= val
        %td= deps.join(",")
        %td= formula

    
    %tr
      %td
        %input{:type => "Submit"}

    - @sheet.each_other do |cell,formula,deps|
      %tr
        %td= cell
        %td
        %td
        %td= deps.join(",")
        %td= formula